<html>
<head>
    <title>Гостевая книга</title>
</head>
<body>
    <div>
        <h1>Редактирование поста</h1>
        <h2>{{ post.title }} </h2>
        <p> {{ post.content }}</p>
    </div>
    <div>
        <form method="POST" action="/api/update_post/{{ post.id }}">
            <div>
                <label for="title">Название</label>
                <input name="title">
            </div>
            <div>
                <label for="content">Содержание</label>
                <input name="content">
            </div>
            <button>Добавить</button>
        </form>
    </div>
</body>
</html>